.about-main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 50px 0 50px 0;
    height: 80vh;
    /* border: 2px solid black; */
}


/* .skills,
.languages {
    border: 2px solid red;
} */

.skills {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    font-size: 50px;
    padding-left: 50px;
}

.languages {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-size: 50px;
}