@import url("https://fonts.googleapis.com/css?family=Montserrat:200&display=swap");
* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(66, 69, 70);
    font-size: 12px;
    letter-spacing: 1px;
}

.main {
    margin: 2rem 10rem 2rem 10rem;
    max-width: inherit;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.about {
    padding: 1rem 2rem 1rem 2rem;
    max-width: 35rem;
    grid-column: 1/2;
    grid-row: 2/3;
    color: white;
}

.about>h1 {
    font-size: 2.5rem;
}

.description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.about>img {
    border-radius: 50%;
    height: 15rem;
    width: auto;
}

.skills {
    margin-top: 20px;
    margin-bottom: 20px;
}

.skills>h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 2rem;
}

.skills>p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

progress[value] {
    border-radius: 50px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    width: 70%;
    color: rgb(21, 21, 27);
}

progress[value]::-webkit-progress-bar {
    background-color: rgb(121, 117, 117);
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    border-radius: 50px;
    background-color: rgb(18, 22, 22);
}

.contacts {
    text-align: center;
}

.contacts>h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
}

.contacts>h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.icons {
    margin-top: 5px;
    margin-bottom: 5px;
}

.icons>a {
    font-size: 3rem;
    margin: 6px;
    color: rgb(18, 22, 22);
    ;
}

#github :hover {
    color: #211F1F;
}

#linkedIn :hover {
    color: #0e76a8;
}

#email :hover {
    color: #f4c20d;
}

#twitter :hover {
    color: #00acee;
}

#dribbble :hover {
    color: #ea4c89;
}

.content {
    max-width: 55rem;
    grid-column: 2/4;
    grid-row: 2/3;
}

.content>h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}

.projects {
    max-width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.projects-one {
    grid-column: 1/2;
    margin-right: 10px;
}

.projects-two {
    grid-column: 2/3;
    margin-left: 10px;
}

.projects-one>img,
.projects-two>img {
    width: 100%;
    height: auto;
    margin: 10px;
}